h1 {
    color:white;
}
h2 {
    color: rgb(233, 155, 168);
}
body {
    background-color: rgb(53, 50, 50);
    color: rgb(255, 138, 157);
    margin: 0;
    padding: 0;
}
button {
    background: gray;
    border: none;
    color: white;
}
header {
    background: black;
    padding: 20px;

}
section {
    background: white;
    color: gray;
    padding: 20px;
    direction: rtl;
}

footer {
    background: black;
    padding: 10px;
    color: gray;
    text-align: center;
}
div {
    /* background: pink; */
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 20px;
    /* margin: auto; */
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    display:inline-block;
    margin-right: 20px;
}
a {
    color: pink;
}
h1.not-title {
    color: gray;
}